mat-sidenav{
  background: #4f5051;
  width: 250px;
}
mat-sidenav-container{
  background: white;
  background: url("../assets/black_wood-wallpaper-1920x1200.jpg");
}

footer{
  color: white;
}

::ng-deep snack-bar-container.snack-color-success {
  background: darkcyan;
}
::ng-deep snack-bar-container.snack-color-failure {
  background: darkred;
}


