<div fxLayout="row"
     fxLayoutAlign="center">
<mat-card fxFlex="60"
          *ngIf="news">
  <mat-card-header>
    <mat-card-title>{{news.displayName}}</mat-card-title>
    <mat-card-subtitle>Author:
      {{news.ownerFirstName}} {{news.ownerMiddleName}} {{news.ownerLastName}}
    </mat-card-subtitle>
    <mat-card-subtitle>Published: {{news.created}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div>
      <img [style.max-width]="'100%'"
        [src]="url">
    </div>
    <div>
      <p>
        {{news.text}}
      </p>
    </div>
  </mat-card-content>
</mat-card>

  <mat-spinner
    *ngIf="!news"
    [diameter]="75">
  </mat-spinner>
</div>
