/* You can add global styles to this file, and also import other style files */
html, body{
  margin: 0px !important;
  height: 100vh;
  background: url("/assets/black_wood-wallpaper-1920x1200.jpg");

}
